/* Styling for the hero banner */
.team-heading {
    background-color: rgb(170, 63, 63);
    color: white;
}

/* Styling for the card header */
.card-header {
    background-color: rgb(61, 61, 161);
    color: white;
}